<div class="col-md-2 col-sm-3">
    <div class="item">
        {% block image %}
        <div class="item-image">
            <a href="{{ path('item/default/index', {id: item.id}) }}">
                <img src="{{ item_image(item.image, 'list') }}" alt="{{ item.name }}">
            </a>
        </div>
        {% endblock %}
        {% block price %}
        <div class="item-price">
            {{ getPrice(1,item.price) }}
        </div>
        {% endblock %}
        <div class="clearfix"></div>
    </div>
</div>