<form class="form-search" action="{{ path('/search') }}">
    <div class="row">
        <div class="col-md-6">
            <input type="text" name="query" placeholder="Введите запрос или ссылку" class="form-control">
        </div>
        <div class="col-md-4">
            <select name="cid" class="form-control">
                <option value="0">Все категории</option>
                <option value="5286">Аудио техника</option>
                <option value="217">Часы</option>
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Найти</button>
        </div>
    </div>
</form>